<div class="center jumbotron">
<h2 style="font-size:50px">Information of team member</h2>
<a style="font-size:30px" href="https://www.facebook.com/phuong1492.bka"><h2>Hoang Van Phuong</h2></a>
<a style="font-size:30px" href="https://www.facebook.com/phuong.trieu156?fref=ts"><h2>Trieu Duc Phuong</h2>
<a style="font-size:30px" href="https://www.facebook.com/thu.buiminh.3?fref=ts"><h2>Bui Minh Thu</h2>
</div>